/*CSS page*/
/*New Css Project*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR CSS STARTS HERE */

.icon div{
    width: 30px;
    height:3px;
    background: #ffffff;
    margin: 5px;
    transition: all 0.3s ease;
}
.icon{
    display: none;
}
body {
  /* margin: 0;

  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  overflow: scroll; */
  background: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
  display: flex;
  padding: 18px 0;
  background-size: 400% 400%;
  background-image: linear-gradient(
    -45deg,
    #ff5959,
    #ff4040,
    #ff0d6e,
    #ff8033,
    #d74177
  );
  animation: 12s myGradient infinite;
  box-shadow: 3px 3px 20px #ff3352;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100vw;
  justify-content: space-around;
    align-items: center;
  height: 12vh;
}

@keyframes myGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.fa-search {
  transition: 1s;
  cursor: pointer;
  margin-left: 30px;
}

.active {
  transition: 1s;
}

.active1 {
  transition: 1s;
}

.active2 {
  transition: 1s;
}

.active3 {
  transition: 1s;
}

li a {
  color: #fff;
  text-decoration: none;
  padding: 45px 45px;
  font-family: verdana;
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 1px;
  opacity: 0.9;
}
.logo-container{
  width: 50vw;
  padding:1vh 1vw;
  text-align: left;
}
.logo-img {
  height: 3rem;
  width: 3rem;
}
.navigation {
  position: absolute;
}

.fa-search:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 2s;
}

.active3:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 2s;
  margin-top: -100px;
}

.active2:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 2s;
}

.active1:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 2s;
}

.active:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 2s;
}

@keyframes myFlash {
  0% {
    opacity: 1;
    text-shadow: transparent;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
    text-shadow: 2px 2px 20px #fff;
  }
}

nav {
  transition: 3s;
  animation: 3s myAnimation ease linear;
}

@keyframes myAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nav-type {
  animation: 3s myWorld ease linear;
}

@keyframes myWorld {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .navigation {
    width: 100%;
    text-align: center;
    transform: none;
    top: 0%;
    left: 0%;
  }
  ul {
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
  }
  .line {
    display: none;
  }
  .icon{
    display:block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:45%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
}
.remove{
    display: none;
}
.clicked{
  top: 25%;
}
.logo-container{
  width: 90vw;
}
}
/* NAVBAR CSS ENDS HERE */


.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

/* .About{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 80px;
} */
/* .About h1{
  color: white;
  font-size: 60px;
}
.About div{
  color: white;
  padding: 8vh 10vw;
} */

#myVideo {
  right: 0;
  bottom: 0;
  width: 90%;
  height: 100%;
}